.grafica{
    margin: 0 auto;
    width: 40%;
}
.tabla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btabla{
    border: 1px solid black;
    padding-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.mercancias{
   width: 70%;
   margin: 0 auto;
}
.mercancias h3{
    width: 25%;
    line-height: 60px;
}
.btnmio{
    height: 50px;
    width: 50px;
}
.btnmio:hover{
    background-color: rgb(183, 56, 56);
}
